JJ_BOT.json
{
  "name": "JJ_BOT",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3008,
        48
      ],
      "id": "9e3714c4-9766-4689-acca-79fde6313079",
      "name": "Telegram Trigger",
      "webhookId": "02a97212-9036-4289-b29f-238ffad7215b",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Olá! Seja bem vindo a JJ Botica!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1936,
        -48
      ],
      "id": "fc7d25fa-ec0b-40a2-9866-e3fd274378df",
      "name": "Manda mensagem inicial",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "ESCOLHA UMA OPÇÃO:",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Consultar produtos disponíveis",
                    "additionalFields": {}
                  },
                  {
                    "text": "Consultar preço de produto",
                    "additionalFields": {}
                  },
                  {
                    "text": "Consultar as promoções",
                    "additionalFields": {}
                  },
                  {
                    "text": "Falar com Atendente",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -48
      ],
      "id": "c78ce12e-93e7-42f5-b47d-8e198e0cfdb6",
      "name": "Manda mensagem de menu",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Falar com Atendente",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a4845ad9-a3ac-4f7f-856f-0fe45fc4fe4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2c13f416-527b-48f9-ac4c-35f108607ebe",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Consultar as promoções",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3654f533-4f08-4e5c-a5b4-79e35303e2ad",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Consultar preço de produto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b5fcd82f-d55a-4d06-a1f3-b284fa5f6464",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "Consultar produtos disponíveis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "efc12717-d8dd-480a-ae62-a213a101074e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "tchau",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1936,
        528
      ],
      "id": "04694e57-8d8d-447b-aaf4-058fa75244a2",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1472,
        -48
      ],
      "id": "d72d6505-d4b7-4cdd-8149-0206c64218fe",
      "name": "encerrar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2871aa86-50a9-44a6-bd60-3fec0006ec68",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2160,
        48
      ],
      "id": "65add1b2-2a7f-4c05-8fd7-44fac7a22c9c",
      "name": "conversa está começando?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Ótimo! Aguarde um pouco, a Jack já vai te atender!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1600,
        192
      ],
      "id": "0217b21f-be91-4e16-af48-30d8c27f4b4c",
      "name": "Falar com atendente",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1392,
        192
      ],
      "id": "fe8bcb3c-fdcf-4971-bea9-aa0505667662",
      "name": "encerrar1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1030198387,
          "mode": "list",
          "cachedResultName": "promocoes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1030198387"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "1"
            },
            {
              "lookupColumn": "id",
              "lookupValue": "2"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        416
      ],
      "id": "b734b31e-59ca-4320-9d38-45a715499969",
      "name": "Busca promoções na planilha",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1168,
        416
      ],
      "id": "e0731200-9676-46be-8340-5f4eb8da9197",
      "name": "encerrar2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1168,
        640
      ],
      "id": "c6ee1211-7e5b-4cd1-85eb-ddc9d73bdb3a",
      "name": "encerrar3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_Id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado_Atual": "CONSULTAR_PRECO"
          },
          "matchingColumns": [
            "user_Id"
          ],
          "schema": [
            {
              "id": "user_Id",
              "displayName": "user_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_Atual",
              "displayName": "estado_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        640
      ],
      "id": "9a858a22-77c7-4f11-b44e-9c2a994cc2be",
      "name": "Grava estado atual da conversa",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1168,
        880
      ],
      "id": "1d740024-ccae-4723-a56c-2231aa4f2e90",
      "name": "encerrar4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_Id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado_Atual": "CONSULTAR_PRODUTO"
          },
          "matchingColumns": [
            "user_Id"
          ],
          "schema": [
            {
              "id": "user_Id",
              "displayName": "user_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_Atual",
              "displayName": "estado_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1600,
        880
      ],
      "id": "b3bc55af-1965-4ce6-8ebb-a5d1830dc242",
      "name": "Grava estado atual da conversa1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Essas são nossas promoções atuais:\n{{ $json.nome_Produto }} -- DE: {{ $json.preco_Produto }} | POR: {{ $json.preco_Promocao }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        416
      ],
      "id": "37ed562e-77b3-4d94-8fe9-0942c2dee2c2",
      "name": "Mostra promoções",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Qual nome do produto\nque você quer saber o valor?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        640
      ],
      "id": "a7dcbee0-a682-4895-a631-f98b4e0e33f2",
      "name": "Pergunta nome produto",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Me diga o nome ou o tipo de produto que você deseja?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1376,
        880
      ],
      "id": "cc96e502-caeb-4505-a656-ca67fa520dc2",
      "name": "Pergunta nome ou tipo produto",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_Id",
              "lookupValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2800,
        48
      ],
      "id": "74bad207-cfc4-4953-b2b9-483d2b1cbc3c",
      "name": "Busca estado atual da conversa",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2871aa86-50a9-44a6-bd60-3fec0006ec68",
              "leftValue": "={{ $json.estado_Atual }}",
              "rightValue": "CONSULTAR_PRECO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2592,
        48
      ],
      "id": "6b161fc9-b056-4326-8463-8085a533cb0c",
      "name": "se estado = consultar_preço"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2871aa86-50a9-44a6-bd60-3fec0006ec68",
              "leftValue": "={{ $json.estado_Atual }}",
              "rightValue": "CONSULTAR_PRODUTO",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2416,
        48
      ],
      "id": "c88f130c-8e3e-4adb-abad-bc4fa826a737",
      "name": "se estado = consultar_preço1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "produtos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "nome_Produto",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2304,
        -976
      ],
      "id": "0e482c93-67cb-43c5-a189-d5073e9188d1",
      "name": "Busca produto na planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "510cf761-19fe-40c8-a693-90c063185421",
              "leftValue": "={{ $('Busca produto na planilha').item.json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2096,
        -976
      ],
      "id": "74ca5376-7293-4d2d-a531-30062b06a162",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Desculpe, o produto não foi encontrado.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1792,
        -864
      ],
      "id": "a811760f-47c8-486e-9095-c99ec1e3daa3",
      "name": "Manda mensagem produto não encontrado",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=O {{ $json.nome_Produto }} está no valor de {{ $json.preco_Produto }}!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1792,
        -1088
      ],
      "id": "bf212bbd-d446-4966-a298-66f3dba54c15",
      "name": "Manda preço do produto",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1344,
        -1088
      ],
      "id": "4987125a-1f21-41cc-a4af-cf07092124b7",
      "name": "encerra"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1344,
        -864
      ],
      "id": "3a7a22f8-77b1-42b0-9f2c-60116b0a95eb",
      "name": "encerra1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_Id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado_Atual": "MENU"
          },
          "matchingColumns": [
            "user_Id"
          ],
          "schema": [
            {
              "id": "user_Id",
              "displayName": "user_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_Atual",
              "displayName": "estado_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1568,
        -1088
      ],
      "id": "872e448d-f761-4da6-9bd5-97d5e64caa2b",
      "name": "Reseta estado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_Id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado_Atual": "MENU"
          },
          "matchingColumns": [
            "user_Id"
          ],
          "schema": [
            {
              "id": "user_Id",
              "displayName": "user_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_Atual",
              "displayName": "estado_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1568,
        -864
      ],
      "id": "4a425fc4-914c-4ea5-aba8-1e7c9c2cf2ff",
      "name": "Reseta estado1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "510cf761-19fe-40c8-a693-90c063185421",
              "leftValue": "={{ $('Busca produto na planilha2').item.json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2080,
        -432
      ],
      "id": "ef49bce3-c53c-4fee-b224-09bb616ad1eb",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Desculpe, o produto não está em estoque no momento!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1776,
        -320
      ],
      "id": "b9d891a4-90cc-4c0a-875a-b87c634082c0",
      "name": "Manda mensagem produto não encontrado1",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=O {{ $json.nome_Produto }} está disponível em estoque!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1776,
        -544
      ],
      "id": "9032f27c-7e1e-4a9d-b620-49633d5389ae",
      "name": "Manda preço do produto1",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1328,
        -544
      ],
      "id": "f21f6693-644f-4fb4-9828-e2829344a6a9",
      "name": "encerra2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1328,
        -320
      ],
      "id": "9efe12a0-0fe8-410f-af61-8aacfd31f208",
      "name": "encerra3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_Id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado_Atual": "MENU"
          },
          "matchingColumns": [
            "user_Id"
          ],
          "schema": [
            {
              "id": "user_Id",
              "displayName": "user_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_Atual",
              "displayName": "estado_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1552,
        -544
      ],
      "id": "c87459ec-5476-4462-b6f0-d3c396f88a84",
      "name": "Reseta estado2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1459291825,
          "mode": "list",
          "cachedResultName": "estado_usuario",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=1459291825"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_Id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "estado_Atual": "MENU"
          },
          "matchingColumns": [
            "user_Id"
          ],
          "schema": [
            {
              "id": "user_Id",
              "displayName": "user_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_Atual",
              "displayName": "estado_Atual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1552,
        -320
      ],
      "id": "fb37eafc-b270-4f03-b834-00f6fea7ab4a",
      "name": "Reseta estado3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis",
          "mode": "list",
          "cachedResultName": "projeto_jjbotica_bot",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "produtos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11vjWa3VOpYkZXrSXEFnggTTMFtr3pFBK0OXxCnhwEis/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "nome_Produto",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2288,
        -432
      ],
      "id": "85bc44e8-6056-433a-b9ca-3cc098ee1c33",
      "name": "Busca produto na planilha2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IJ0Pbu7RdzrwE06L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Tchau! Até depois!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1600,
        1136
      ],
      "id": "a0bac2e7-ffcf-4095-be3c-aad64e912294",
      "name": "Falar com atendente1",
      "webhookId": "213d7791-d273-4dcd-abf6-9093a26d93c7",
      "credentials": {
        "telegramApi": {
          "id": "uXYdskHmbI0mKnpv",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1376,
        1136
      ],
      "id": "fd93b43b-c188-489e-9ec7-0d480642ab8b",
      "name": "encerrar5"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Busca estado atual da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda mensagem inicial": {
      "main": [
        [
          {
            "node": "Manda mensagem de menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda mensagem de menu": {
      "main": [
        [
          {
            "node": "encerrar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Falar com atendente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca promoções na planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grava estado atual da conversa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grava estado atual da conversa1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Falar com atendente1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "conversa está começando?": {
      "main": [
        [
          {
            "node": "Manda mensagem inicial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Falar com atendente": {
      "main": [
        [
          {
            "node": "encerrar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca promoções na planilha": {
      "main": [
        [
          {
            "node": "Mostra promoções",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava estado atual da conversa": {
      "main": [
        [
          {
            "node": "Pergunta nome produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grava estado atual da conversa1": {
      "main": [
        [
          {
            "node": "Pergunta nome ou tipo produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostra promoções": {
      "main": [
        [
          {
            "node": "encerrar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pergunta nome produto": {
      "main": [
        [
          {
            "node": "encerrar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pergunta nome ou tipo produto": {
      "main": [
        [
          {
            "node": "encerrar4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca estado atual da conversa": {
      "main": [
        [
          {
            "node": "se estado = consultar_preço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se estado = consultar_preço": {
      "main": [
        [
          {
            "node": "Busca produto na planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "se estado = consultar_preço1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se estado = consultar_preço1": {
      "main": [
        [
          {
            "node": "Busca produto na planilha2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "conversa está começando?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca produto na planilha": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Manda preço do produto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manda mensagem produto não encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda mensagem produto não encontrado": {
      "main": [
        [
          {
            "node": "Reseta estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda preço do produto": {
      "main": [
        [
          {
            "node": "Reseta estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reseta estado": {
      "main": [
        [
          {
            "node": "encerra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reseta estado1": {
      "main": [
        [
          {
            "node": "encerra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Manda preço do produto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manda mensagem produto não encontrado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda mensagem produto não encontrado1": {
      "main": [
        [
          {
            "node": "Reseta estado3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda preço do produto1": {
      "main": [
        [
          {
            "node": "Reseta estado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reseta estado2": {
      "main": [
        [
          {
            "node": "encerra2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reseta estado3": {
      "main": [
        [
          {
            "node": "encerra3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca produto na planilha2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Falar com atendente1": {
      "main": [
        [
          {
            "node": "encerrar5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "78fcbc14-eb5e-492d-a288-784bbd1f0e84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f25a9612c57577e92de77e0f29fc204024f82d964bba52079baf4dcfc284607e"
  },
  "id": "1r7qcn46kSGRa0sD",
  "tags": []
}